.search-bar {
  padding: 0.5rem 0.5rem 1.5rem;

  .search-bar-form {
    display: flex;
    justify-content: space-between;
    border: 2px solid $bordercolor;
    border-radius: 500px;

    .search-bar-text {
      flex-grow: 1;
      border: none;
      margin-right: 0.25rem;
      background-color: $button-color;
      color: $font-color;
      width: calc(100% - 52px);
      font-size: 1.25rem;
      padding: 0.75rem 0 0.75rem 0.75rem;
      outline: none;
    }

    .search-bar-text::placeholder {
      color: $fade-color;
    }

    .search-bar-button {
      border: none;

      i {
        font-size: 1.7rem;
      }
    }

    .search-bar-button:hover,
    .search-bar-button:focus {
      border: none;
      box-shadow: none;
      text-shadow: 4px 2px 5px $text-shadow-color;
    }
  }
  .search-bar-form:focus-within,
  .search-bar-form:hover {
    box-shadow: 4px 2px 5px $text-shadow-color;
  }
}
